body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

input {
  width: 100%;
  height: 30px;
  border: 2px solid #000;
}

hr {
  width: 100px;
  border: 1px solid #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  margin: 5px 10px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  text-decoration: none;
  padding: 0;
  gap: 20px;
  margin: 0;
}

.navbar-brand {
  font-size: 1.5rem;
}

.line {
  border-right: 2px solid black;
}

#list {
  margin-top: 50px;
  margin-bottom: 50px;
}

#title {
  text-align: center;
  margin-bottom: 25px;
}

#date {
  float: right;
  margin-top: 8px;
  font-size: 12px;
  margin-right: 10px;
}

.collection {
  list-style: none;
  border: 2px solid #000;
  height: 200px;
  margin: 0 10px;
  overflow: auto;
  padding: 0;
}

.collection li:nth-child(odd) {
  background-color: rgb(221, 221, 221);
  border: 2px solid rgb(221, 221, 221);
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#delete {
  box-shadow: 3px 5px;
  border: 1px solid #000;
  background-color: #fff;
}

#addNew {
  margin-top: 50px;
  margin-bottom: 50px;
  display: none;
}

#formTitle {
  text-align: center;
  margin-bottom: 50px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  width: 500px;
  margin: 0 auto;
}

#btn {
  display: flex;
  justify-content: flex-end;
}

#addBtn {
  box-shadow: 3px 5px;
  border: 1px solid #000;
  background-color: #fff;
}

#contact {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#contact h2 {
  margin-bottom: 25px;
}

.container-footer {
  border: 2px solid #363535;
  margin: 5px 10px;
  padding: 5px;
}
